html {
  box-sizing: border-box;
  font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
aside {
  width: 320px;
  height: 1024px;
  background-color: rgb(150, 165, 157);
}
.circle-btn {
  all: unset;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
.closeBurger {
  background: url(img/close.svg);
}
.searchBtn {
  background: url(img/search.svg);
}
.circle-btn--contact {
  background: url(./img/call.svg);
}
.circle-btn--chat {
  background: url(./img/chat.svg);
}
.circle-btn--chat {
  background: url(./img/chat.svg);
}
.circle-btn--profile {
  background: url(./img/profile.svg);
}
