html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: 'TT Lakes Regular';
}
button {
  all: unset;
}
@font-face {
  font-family: 'TT Lakes Regular';
  src: url('TTLakes-Regular.eot');
  src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.container {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
.container__btns {
  display: flex;
  gap: 32px;
}
.request {
  display: flex;
  gap: 8px;
  align-items: center;
}
.status {
  display: flex;
  gap: 8px;
  align-items: center;
}
.repair {
  width: 40px;
  height: 40px;
  background-image: url('/img/repair.svg');
  background-repeat: no-repeat;
}
.checkStatus {
  width: 40px;
  height: 40px;
  background-image: url('/img/checkstatus.svg');
  background-repeat: no-repeat;
}
.nav {
  display: flex;
}
.nav__list-item {
  color: #7e7e82;
}
.about {
  display: flex;
}
.about__text {
  color: #1b1c21;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}
.about__image {
  width: 531px;
  height: 383px;
}
