html {
  font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
}
@font-face {
  font-family: 'TT Lakes-Bold';
  src: url('/fonts/TTLakes/TTLakes-Bold.woff');
}

@font-face {
  font-family: 'TT Lakes-Medium';
  src: url(/fonts/TTLakes/TTLakesCompressed-Medium.woff);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.mobile-menu {
  padding: 0.1px 0 0 24px;

  width: 320px;
  max-height: 1024px;
  height: 100vh;
  background-color: rgb(150, 165, 157);
  background: #fff;

  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.header__logo--link {
  margin-right: auto;
}
.header__mobile-menu {
  width: 272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  gap: 16px;
}
.circle-btn {
  all: unset;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  transition: filter 1s ease-in-out;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
.circle-btn:hover {
  filter: invert(100%);
}
.close-burger {
  background: url(../img/close.svg);
}
.search-btn {
  background: url(../img/search.svg);
}
.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0 76px 0px;
}

.nav__item--active::before {
  content: url(../img/highlight2.svg);
  position: absolute;
  top: 93px;
  left: 0px;
}

.link {
  color: #1b1c21;

  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.link:hover {
  color: #ff3e79;
  transition: 0.3s;
}

.nav__item--active {
  color: #7e7e82;

  font-size: 16px;
  pointer-events: none;
  font-weight: 500;
  line-height: 24px;
}

.footer__contacts-1 {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}
.circle-btn--contact {
  background: url(../img/call.svg);
}
.circle-btn--chat {
  background: url(../img/chat.svg);
}

.circle-btn--profile {
  background: url(../img/profile.svg);
}
/* dwq? */
.footer__contacts-2 {
  display: flex;
  flex-direction: column;
}
.mail__link {
  padding-bottom: 12px;
}
.number__link {
  font-size: 24px;

  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-family: TT Lakes-Bold, sans-serif;
}

.footer__lang-menu {
  display: flex;
  gap: 10px;
  padding-bottom: 8px;
}
.lang-menu__link--active {
  color: #7e7e82;
  font-weight: 500;
}
@media (max-width: 360px) {
  .nav__menu {
    gap: 23px;
    margin: 0;
  }
}
