* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
}
html {
  background-color: #f8f8f8;
}

.header {
  background: linear-gradient(to right, #f8f8f8 0%, #fff 98.61%);
  height: 56px;
  display: flex;
  align-items: center;
}
.title {
  padding-left: 32px;
  color: #7e7e82;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.container {
  display: flex;

  width: 1120px;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
  padding-top: 24px;
  padding-left: 32px;
}

.circle-btn {
  display: block;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
.circle-btn--show-more {
  background: url(../img/go.svg) no-repeat;
  margin-left: auto;
  margin-right: 16px;
}
.swiper__circle-btn--show-more {
  margin-right: 16px;
}

.block__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 240px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
.block:last-child,
.block:nth-last-child(2),
.block:nth-last-child(3) {
  display: none;
}

.read-more {
  background: url(../img/expand.svg) no-repeat left;
  padding: 0;
  color: #1b1c21;
  font-size: 16px;
  border: none;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;

  font-family: inherit;
}
.read-more--close {
  background: url(../img/expand-close.svg) no-repeat left;
}
.about__read-more {
  padding-left: 30px;
  margin-left: 31px;
  margin-top: 24px;
}
/* ______________________Swiper___________________ */
.swiper {
  display: none;
  padding-top: 24px;
}
.swiper-wrapper {
  padding-left: 16px;
}
.swiper::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px;

  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0) 100%
  );
  z-index: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ae9999 !important;
}
.swiper-pagination-bullets {
  margin-top: 16px;
  position: static;
}
.brend__img {
  margin-left: 16px;
}
/* _______320px_________ */

/* ________768px_________ */
@media (max-width: 822px) {
  .container,
  #toggleButton {
    display: none;
  }
  .swiper {
    display: block;
  }
  .swiper-slide {
    width: 240px;
    background-color: rgb(255, 25 5, 255);
  }
}
/* __________1120px_________ */
@media (max-width: 1120px) {
  .container {
    width: 816px;
    padding-left: 24px;
  }
  .title {
    padding-left: 24px;
  }
  .block:nth-last-child(4),
  .block:nth-last-child(5) {
    display: none;
  }
  .about__read-more {
    margin-left: 24px;
  }
}
